@tailwind base;
@tailwind components;
@tailwind utilities;

/*
=================================
=================================
*/
@layer base {
  h1 {
    @apply text-inherit bg-inherit text-2xl font-bold mb-2;
  }
  h2 {
    @apply text-inherit bg-inherit text-xl font-bold mb-2;
  }
  h3 {
    @apply text-inherit bg-inherit text-lg font-bold mb-2;
  }
  p {
    @apply text-inherit bg-inherit mb-4;
  }
  div {
    @apply text-inherit bg-inherit mb-4;
    border: 0 solid gray;
    margin: 0;
    padding: 0;
  }
  ul,
  ol {
    @apply ml-4 mb-4;
  }
  ul {
    @apply text-inherit bg-inherit list-disc;
  }
  ol {
    @apply text-inherit bg-inherit list-decimal;
  }
  a {
    @apply text-inherit bg-inherit no-underline;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
    width: inherit;
  }
  border {
    all: inherit;
  }
  transform {
    all: inherit;
  }
  transform {
    all: inherit;
  }
  input,
  select,
  textarea {
    @apply text-inherit bg-inherit border-none p-2;
  }
  textarea {
    border: 0px solid gray;
  }
  input {
    border: 0px solid gray;
  }
  select {
    border: 1px solid gray;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    border: 0px solid gray;
  }
  li {
    border: 0px solid gray;
  }
  button {
    @apply text-inherit font-tajawal bg-inherit border-neutral btn-neutral	 p-2 text-black cursor-pointer;
  }

  * {
    @apply font-tajawal;
  }
  span {
    /* @apply border-inherit; */
    border: 0px solid gray;
  }
}

/*
=================================
=================================
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.fix-height {
  min-height: calc(100vh - 100px);
  /* margin-top: 100px; */
}

body {
  /* overflow: auto; Hide scrollbars */
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
}
